<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=" Betika | Best Online Sports Betting in Kenya, Ghana and Nigeria ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <meta name="keywords" content=" betika , betting sites in kenya , betika login , betika paypout , betika bonus , betika jackpot , betika paybill , betika live">
    <meta name="author" content="Abraham Omondi">
    <meta http-equiv="refresh" content="60000">
    <script src="https://kit.fontawesome.com/7793339219.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>Betika | Best Online Sports Betting in Kenya, Ghana and Nigeria</title>
</head>
<body>

    <!--- header section -->
    <header>
        <div class="top-header">
            <div class="left-header">
                <i class="fa fa-bars"></i>
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <div class="right-header">
                <nav>
                    <li><a href="https://www.betika.com/en-ke/notifications"><i class="far fa-bell"></i><span>Notifications</span></a></li>
                    <li><a href="https://www.betika.com/en-ke/mybets"><i class="far fa-rectangle-list"></i><span>My Bets</span></a></li>
                    <li><a href="https://www.betika.com/en-ke/profile"><i class="far fa-user"></i><span>Profile</span></a></li>
                    <li class="deposit-bar" onclick="showdeposit()"><span>Deposit</span></li>
                    <li><i class="fa fa-sun"></i></li>
                </nav>
            </div>
        </div>
        <div class="bottom-header">
            <nav>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="https://www.betika.com/en-ke/live">Live (95)</a></li>
                <li><a href="https://www.betika.com/en-ke/jackpots/">Jackpots</a></li>
                <li><a href="https://www.betika.com/en-ke/shikisha-bet">Shikisha Bets (18)</a></li>
                <li><a href="https://www.betika.com/en-ke/offers">Promotions </a></li>
                <li><a href="https://www.betika.com/en-ke/betika-super-league">Betika Super League</a></li>
                <li><a href="https://www.betika.com/en-ke/virtual">Virtuals</a></li>
                <li><a href="https://www.betika.com/en-ke/betika-fasta">Betika Fasta</a></li>
                <li><a href="https://www.betika.com/en-ke/casino">Casino</a></li>
                <li><a href="https://www.betika.com/en-ke/livescore">Live Score</a></li>
                <li><a href="https://app.betika.com/" target="_blank">App</a></li>
                <li><a href="https://betika.com/help/" class="white"><i class="far fa-circle-question"></i> &nbsp;Help & Support</a></li>
                <li><a href="https://www.betika.com/en-ke/download-fixtures" class="white"><i class="fa fa-print"></i> &nbsp;Print Matches</a></li>
                <li><i class="fa fa-search"></i> &nbsp;<a href="https://www.betika.com/en-ke/search" class="white">Search</a></li>
            </nav>
        </div>
    </header>

    <!--- main container -->
    <main>
        <!--- betika-deposit-container -->
        <div class="betika-deposit-container" id="deposit-container">
            <div class="betika-deposit-card">
                <div class="fa fa-xmark" onclick="showdeposit()"></div>
                <div class="betika-deposit-poster">
                    <p><b>Deposit</b></p>
                    <div class="text">Send money into your Betika account</div>
                    <div class="deposit-buttons">
                        <button>+100</button>
                        <button>+250</button>
                        <button>+500</button>
                        <button>+1000</button>
                    </div>
                    <div>
                        <input type="number" placeholder="Enter amount to deposit" name="amount" min="10" max="99999">
                        <span class="small-text">Minimum KES10</span>
                    </div>
                    <div>
                        <button type="submit">Deposit</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/showchat.js"></script>
    <script src="/js/showdeposit.js"></script>
</body>
</html>